<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first"><p>&nbsp;&nbsp;</p>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="user" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" [(ngModel)]="pw" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>