<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first"><p>&nbsp;&nbsp;</p>
    </div>

    <!-- Login Form -->
    <form>
      <input required type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="user" placeholder="{{'login.user' | translate}}">
      <input required type="text" id="password" class="fadeIn third" name="login" [(ngModel)]="pw" placeholder="{{'login.pw' | translate}}">
      <input type="submit" class="fadeIn fourth" value="{{'login.login' | translate}}" (click)="login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">{{'login.forgotpw' | translate}}</a>
    </div>

  </div>
</div>