  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="width:35%" (click)="orden('firstName')">
        Nombre
        
      </th>
      <th style="width:5%" (click)="orden('edad')">Edad</th>
      <th style="width:20%" (click)="orden('matricula')">Matricula</th>
      <th style="width:30%" (click)="orden('modeloCoche')">Modelo</th>
      <th style="width:5%"></th>
      <th style="width:5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of listaPersonas">
      <td>
        <a class="badge badge-light" routerLink="/detalle-persona/{{persona.id}}">{{persona.firstName}} - {{persona.lastName}}</a>
      </td>
      <td>
        {{persona.edad}}
      </td>
      <td>
        {{persona.matricula}}
      </td>
      <td>
        {{persona.modeloCoche}}
      </td>
      <td>
        <a class="badge badge-primary" routerLink="/editar-persona/{{persona.id}}">Modificar</a>
      </td>
      <td>
        <a class="badge badge-primary" [routerLink] = "" (click)="deletePerson(persona.id)">Borrar</a>
      </td>  
    </tr>
  </tbody>
</table>
<button class="btn btn-dark" routerLink="/anadir-persona">AÑADIR</button><br>
<ul>
  <li><fa-icon icon="coffee" size="3x"></fa-icon></li>
  <li><fa-icon icon="check"></fa-icon></li>
  <li><fa-icon icon="spinner" spin="true" size="3x"></fa-icon></li>
  <li><fa-icon icon="envelope" rotate="90"></fa-icon></li>
</ul>