  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="width:35%">
        <span  (click)="orden('firstName')" style="cursor: pointer;margin-right: 5px">Nombre</span>
        <span *ngIf="firstNamesort && firstNamecurrentsort" class="fa fa-sort-asc"></span>
        <span *ngIf="!firstNamesort && firstNamecurrentsort" class="fa fa-sort-desc"></span>
      </th>
      <th style="width:10%">
        <span style="cursor: pointer;margin-right: 5px" (click)="orden('edad')">Edad</span>
        <span *ngIf="edadsort && edadcurrentsort" class="fa fa-sort-asc"></span>
        <span *ngIf="!edadsort && edadcurrentsort" class="fa fa-sort-desc"></span>
      </th>
      <th style="width:20%">
          <span style="cursor: pointer;margin-right: 5px" (click)="orden('matricula')">Matricula</span>
        <span *ngIf="matriculasort && matriculacurrentsort" class="fa fa-sort-asc"></span>
        <span *ngIf="!matriculasort && matriculacurrentsort" class="fa fa-sort-desc"></span>
      </th>
      <th style="width:25%">
        <span style="cursor: pointer;margin-right: 5px" (click)="orden('modeloCoche')">Modelo</span>
        <span *ngIf="modeloCochesort && modeloCochecurrentsort" class="fa fa-sort-asc"></span>
        <span *ngIf="!modeloCochesort && modeloCochecurrentsort" class="fa fa-sort-desc"></span>
      </th>
      <th style="width:5%"></th>
      <th style="width:5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of listaPersonas">
      <td>
        <a class="badge badge-light" routerLink="/detalle-persona/{{persona.id}}">{{persona.firstName}} - {{persona.lastName}}</a>
      </td>
      <td>
        {{persona.edad}}
      </td>
      <td>
        {{persona.matricula}}
      </td>
      <td>
        {{persona.modeloCoche}}
      </td>
      <td>
        <a class="badge badge-primary" routerLink="/editar-persona/{{persona.id}}">Modificar</a>
      </td>
      <td>
        <a class="badge badge-primary" [routerLink] = "" (click)="deletePerson(persona.id)">Borrar</a>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-dark" routerLink="/anadir-persona">AÑADIR</button><br>
